# Ambientes e dependências
.venv/
*.pyc
__pycache__/

# Configurações locais
.env
.env.*
!*.example

# Dados e artefatos gerados
docs/artigos/
#data/catalogo.csv
data/index/
input/**/*.pdf
input/**/*.PDF

# Miscelânea
.DS_Store
